header {
  background-color: blueviolet;
  height: 3em;
}

h2 {
  margin-left: 1em;
  font-size: 1.25em;
  padding-top: 0.5em;
}

h1 {
  font-size: 1.75em;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

img {
  width: 100%;
  height: 85%;
}

div[data-view="entry-form"] {
  width: 100%;
}

input[type="url"],
input[type="text"] {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.7em;
}

textarea {
  width: 100%;
  height: 3.5em;
  margin-top: 0.5em;
}

.button {
  text-align: right;
}

button {
  margin-top: 0.5em;
  width: 4.5em;
}
