body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: mediumpurple;
  height: 2.75em;
  color: white;
  display: flex;
  align-items: baseline;
}

h2 {
  font-size: 1.25em;
  padding-top: 0.5em;
}

h3 {
  margin-left: 1em;
}

h1 {
  font-size: 1.75em;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

img {
  width: 100%;
  height: 85%;
}

div[data-view="entry-form"] {
  width: 100%;
}

input[type="url"],
input[type="text"] {
  width: 100%;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

textarea {
  width: 100%;
  margin-top: 0.3em;
}

.button {
  text-align: right;
}

button {
  margin-top: 0.5em;
  width: 5em;
  color: white;
  border-radius: 0.5em;
  background-color: mediumpurple;
  margin-bottom: 2em;
}

.top-page {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  background-color: mediumpurple;
  color: white;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 0.3em;
}

div[data-view="entries"] {
  display: flex;
}

ul {
  list-style: none;
}

.title {
  margin-left: -0.1em;
  margin-bottom: 0.4em;
  margin-top: 1em;
}

.notes {
  margin-bottom: 2em;
}
